<?php
/** @var $block Avanti\StorePickup\Block\Product\View\StorePickup */

$productData = $block->getProductInfo();

$fmeHelper = $this->helper(FME\GoogleMapsStoreLocator\Helper\Data::class);

?>

<div class="modal-start">
    <div class="mensage">
        <span class="withdraw-up"><?= __("pick up your product today"); ?></span>
        <span class="withdraw-down"><?= __("Without paying shipping, by clicking the button on the side."); ?></span>
    </div>
    <button id="localBtn">comprar e <strong>retirar</strong></button>
</div>

<div id="locate" class="modal">
    <div class="modal-content">
        <div class="top">
            <span class="title"><?= __("See the options to pick up at the store ")?><strong><?= __('free!') ?></strong></span>
            <span class="close"><img src='<?php echo $this->getViewFileUrl('images/btn-close.svg'); ?>' alt="close"></span>
        </div>
        <div class="content">
            <script>
                function initMap(sel) {
                    var locations, i, j;

                    locations = <?= json_encode($productData['stores']); ?>;
                    var lat = <?= $fmeHelper->getGMapStandardLatitude() ?>;
                    var lng = <?= $fmeHelper->getGMapStandardLongitude() ?>;
                    var mmzoomlevel = <?= $fmeHelper->getGMapZoom() ?>;

                    var uluru = {lat: eval(lat), lng: eval(lng)};
                    var map = new google.maps.Map(document.getElementById('map_canvas'), {
                        zoom: eval(mmzoomlevel),
                        center: uluru
                    });

                    var contentString = new Array("");

                    var infowindow = new google.maps.InfoWindow();
                    for (i = 0; i < locations.length; i++) {
                        marker = new google.maps.Marker({
                            position: new google.maps.LatLng(locations[i]['latitude'], locations[i]['longitude']),
                            map: map,
                            mapTypeId: google.maps.MapTypeId.ROADMAP
                        });
                        contentString[i] = '<div id="content">' +
                            '<div id="siteNotice">' +
                            '</div>' +
                            '<h3 id="firstHeading" class="firstHeading">' + locations[i]['store_name'] + '</h3>' +
                            '<div id="bodyContent">' + locations[i]['store_description'] + '</div>' +
                            '</div>';
                        google.maps.event.addListener(marker, 'click', (function (marker, i) {
                            return function () {
                                var content = contentString;

                                infowindow.setContent(contentString[i]);
                                infowindow.open(map, marker);
                            }
                        })(marker, i));
                    }
                }
            </script>

<div id="store-pickup-information">
    <?php if (array_key_exists('product_image', $productData)) : ?>
        <div style="width: 234px">
            <img src="<?= $productData['product_image'] ?>" />
        </div>
    <?php endif; ?>
    <?php
        echo $productData['product_name'];
        echo "<br>";
        echo $productData['product_discount_price'];
        echo "<br>";
        echo $productData['product_normal_price'];
        echo "<br>";
    ?>
</div>

<div id="main">
    <div class="map" style="width: 100%;">
        <div id="map_canvas" style="height: 500px;width: 100%"></div>
        <div style="float:right;font-family: Roboto,Arial,sans-serif; font-size: 10px;margin-top: -60px;
     z-index: -1;
    position: absolute;text-align: right;">by<a style="text-decoration: none; cursor: pointer; color: rgb(68, 68, 68);" href="https://www.fmeextensions.com/google-maps-store-locator-magento-2.html" rel="dofollow" target="_blank">&nbsp&nbspFmeExtensions</a></div>
    </div>
    <div id="control"></div>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=<?php echo $fmeHelper->getGMapAPIKey(); ?>&callback=initMap">
    </script>
</div>

<? $stores = $productData['stores']; ?>
<h3><?= count($stores) . " ". __("SHOPS FOUND:") ?></h3>
<h5><?=__('Find the one closest to you!') ?></h5>
<div class="input">
    <form class="pickupstore_findstore" id="pickupstore_findStore">
        <label for="pickupsotre_zipcode"><?=__("Type the Zipcode:") ?></label>
        <input type="text" id="pickupsotre_zipcode" name="pickupstore_zipcode" />
        <button name="Find" type="submit"><?=__("Find")?></button>
    </form>
</div>
<div class="stores-list" id="store-list">
    <?
    if (count($stores) > 0) : ?>
        <ul>
            <?php $i = 0; ?>
            <?php foreach ($stores as $store): ?>
                <div class="store-name">
                    <i class="icon-pin-map"></i>
                    <div class="title">
                        <h3><?= $store['store_name'] ?></h3>
                    </div>
                </div>
                <div class="store-address">
                    <span class="address"><?= $this->getFullAddress($store['address']) ?></span>
                </div>
                <?php $i++; ?>
            <?php endforeach; ?>
        </ul>
    <?php endif; ?>
</div>